<!DOCTYPE html>
<html>

<head>
    <title>Công Đoàn Trường ĐHCNSG</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
    <table style="max-width: 80rem; min-height: 50vh; padding: 2rem; margin: 0 auto; background-color: #f5f5f5;">
        <tr>
            <td align="center">
                <table style="background-color: white; border-radius: 5px; padding: 20px;">
                    <tr>
                        <td>
                            <div style="text-align: left; font-size: 20px;">Xác Nhận Đặt Lại Mật Khẩu</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="margin: 15px 0; border-top: 1px solid rgba(5, 5, 5, 0.06);"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: left;">
                                <div style="font-size: 16px;">Xin chào {{receiver}},</div>
                                <div style="font-size: 16px; margin-top: 10px;">Bạn đã yêu cầu đặt lại mật khẩu</div>
                                <div style="font-size: 16px; margin-top: 10px;">Vui lòng sử dụng mã xác nhận sau để hoàn tất thay đổi</div>
                                <div style="font-size: 25px; margin-top: 10px; text-align: center"><strong>{{verificationCodePassword}}</strong></div>
                                <div style="font-size: 16px; margin-top: 10px;">Mã này sẽ hết hạn trong vòng 20 phút.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <a href="{{url}}" target="_blank" style="display: inline-block; width: 100%; height: 40px; line-height: 40px; cursor: pointer; border-radius: 5px; background-color: #ea1e30; color: white; border: none; outline: none; text-decoration: none; font-size: 16px;">
                                Xác nhận đặt lại mật khẩu
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="padding-top: 20px; text-align: left; font-size: 16px;">Trân trọng,</div>
                            <div style="text-align: left; font-size: 16px;">Đội ngũ hỗ trợ.</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
